* {
    /* box-sizing: border-box; */
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgba(203, 203, 203, 0.5);
}

/* Nav Bar Start */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 45px;
    border-radius: 5px;
    margin: 10px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left ul li {
    list-style: none;
    color: black;
    font-weight: bold;
    margin: 0 8px;
    padding: 8px 14px;
    border-radius: 25px;
    transition: .4s ease-in;
}

.nav-left ul li:hover {
    background-color: royalblue;
}

.nav-left ul li:hover a {
    color: white;
    transition: .4s ease-in;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-right a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 50%;
    margin-left: 10px;
    transition: .4s ease-in;
}

.nav-right a:hover {
    background-color: royalblue;
    color: white;
    transition: .4s ease-in;
}

.active {
    background-color: royalblue;
}

.active a {
    color: white;
}

/* Nav Bar End */

.section-1 {
    background-image: url(images/background_image_1.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    background-size: cover;
}

.form-container {
    background-color: rgba(203, 203, 203, 0.5);
    width: 350px;
    position: relative;
    left: 10vw;
    top: 10vh;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h2 {
    padding: 10px;
    text-transform: uppercase;
    color: #333;
}

.form-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-element input,
textarea {
    color: black;
    font-size: 18px;
    border-radius: 8px;
    padding: 8px;
    margin: 4px 0;
    width: 260px;
    border: none;
}

.form-element textarea {
    width: 260px;
    height: 160px;
    resize: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-element button {
    width: 260px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 8px;
    transition: 0.4s ease-in-out;
}

.form-element button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 18, 132);
    transition: 0.4s ease-in-out;
}

.excellence-div {
    width: 100vw;
    background-color: rgb(65, 105, 225);
    display: flex;
    justify-content: center;
}

.excellence-div .exc-div2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.excellence-div div h2 {
    width: 100%;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    padding: 15px 0;
    color: white;
}

.excellence-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.excellence-nav a {
    color: white;
    font-weight: bold;
    background-color: rgb(87, 124, 232);
    padding: 8px 14px;
    border-radius: 8px;
    margin: 8px;
    transition: 0.4s ease-in-out;
}

.excellence-nav a:hover {
    background-color: rgb(44, 90, 226);
    font-weight: bolder;
    transition: 0.4s ease-in-out;
}

.s1 {
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("images/Cardiac.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s2 {
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("images/emergency.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s3 {
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("images/oncology.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s4 {
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("images/gastrology.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s5 {
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("images/Renal sciences.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s6 {
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("images/Ortho.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s7 {
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("images/Neuro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.specialisation{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.images-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 15px;
}
.content-1{
    flex: 1;
    padding: 8%;
}
.content-1 h2{
    padding:15px;

}
.content-1 p{
    text-align: justify;
    background-color: #b4aeff;
    padding: 15px;
    border-radius: 10px;
}
.nav_bar2{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(203, 203, 203, 0.5);
}
.item-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.item-containers li a i{
    font-size: 20px;
    transition: .4s ease-in;
}
.item-containers li{
    list-style: none;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: white;
    transition: .4s ease-in;
}
.item-containers li:hover{
    background-color: royalblue;
    transition: .4s ease-in;
}
.item-containers li:hover a i{
    color: white;
    transition: .4s ease-in;
}
.copy{
    background-color: black;
    color: white;
    text-align: center;
}
.up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 50px;
    transition: .2s ease-in;
}
.up:hover{
    background-color: rgb(99, 25, 25);
    transition: .2s ease-in;
}