*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body{
    background-color:gainsboro;
    
}
.nav_bar{
    height: 1%;
    width: 100%;
    background-color: darkgray;
}
.nav_bar h2{
    text-align: center;
    font: size 20px;
    padding: 30px;
}
.logo{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    margin: 10px 20px;
    /* margin-right: 20px; */
    float: left;
}
.nav_items{
    display: inline-block;
    padding: 20px 31px;
    list-style-type: none;
    border-radius: 20px;
    background-color:gainsboro;
    font-size: 20px;
    margin: 15px 15px;
    
}
.nav_items:hover{
    background-color: crimson;
    cursor: pointer;
}
.nav_items a{
    text-decoration: none;
    
}
.nav_items a:hover{
    color: white;
}
.section-1{
    background-image: url(images/background_image_1.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height:100vh;
    width: 100%;
    position: relative;
    background-size: cover;
}
.form-container{
    background-color: ghostwhite;
    height: 520px;
    width: 350px;
    margin: 25px;
    padding: 25px;
    position: absolute;
    top: 30px;  
    border-radius: 20px;
}
.form-container h2{
    text-align: center;
    padding: 10px;
}
.form-element{
    padding: 30px;
    margin: 20px;
}
.form-element input,textarea,button{
    line-height: 30px;
    font-size: 18px;
    border-radius: 10px;
}
.form-element button{
    background-color:lightcoral;
    padding: 10px 20px;
    width: 230px;
    border-radius: 20px;
}
.form-element button:hover{
    background-color: yellowgreen;
    cursor: pointer;
}

.section-2{
   
    height: 10vh;
    width: auto;
}
.section-2 h2{
    padding: 30px;
    font-size: 30px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.specialisation_1{
    padding: 20px;
    margin: 14px;
    background-color:greenyellow;
    font-size: 18px;
    border-radius: 20px;
    cursor:pointer;
}
.specialisation_1:hover{
    color: white;
    background-color:firebrick;
}
.specialisation{
    height: 500px;
    width: 100%;
    position: relative;
    margin: 100px 50px;
    margin-left: 0px;
    /* background-color:azure; */
    margin-bottom: 0px;
}
.images-1{
    height: 500px;
    width: 50%;
    /* background-color: blue; */
    position: absolute;
    left: 10px;
}
.images-1 img{
    padding: 45px 160px;
    height: 400px;
    width: 400px;
}
.content-1{
    height: 500px;
    width: 50%;
    position: absolute;
    right: 10px;
    /* background-color: yellowgreen; */
}
.nav_bar1{
    height: 100px;
    width: 100%;
    background-color:gainsboro;
}
.nav_bar1 h2{
    text-align: center;
    font: size 20px;
    padding: 30px;
}
.nav_items1{
    display: inline-block;
    padding: 20px 31px;
    list-style-type: none;
    border-radius: 20px;
    background-color:lightblue;
    font-size: 20px;
    margin: 15px 15px;
    
}
.nav_items1:hover{
    background-color: crimson;
    cursor: pointer;
}
.nav_items1 a{
    text-decoration: none;
    
}
.nav_items1 a:hover{
    color: white;
}
.content-1 h2{
    text-align: center;
    padding: 30px 50px;
    font-style: italic;
}
.content-1 p{
    padding: 30px;
    text-align: center;
    font-size: 18px;
}
.nav_items2{
    display: inline;
    height: 1%;
    padding: 0.5% 0.5%;
    list-style-type: none;
    border: 2px blanchedalmond solid;
    color: white;
    font-size: 20px;
    margin: 5px 0px;
}
.nav_items2 a{
    padding: 0.5%;
    margin: auto;
    text-decoration: none;
    color:white;
  
}
.nav_bar2{
    height: 2%;
    padding: 0.5%;
    width: 100%;
    background-color: darkgray;
    position: relative;
}
.item-containers{
    margin-left: 20%;
    height: 2%;
}
#F{
    background-color: blue;
}
#L{
    background-color: grey;
}
#T{
    background-color: lightskyblue;
}
#Y{
    background-color:rgb(255, 4, 4);
}
#I{
    background-color: rgba(227, 61, 10, 0.731);
}